@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'sl';
  src: url('../fonts/sl.eot');
  src: url('../fonts/sl.eot?#iefix') format('embedded-opentype'), url('../fonts/sl.woff') format('woff'), url('../fonts/sl.ttf') format('truetype'), url('../fonts/sl.svg#RockwellStd') format('svg');
}
@font-face {
  font-family: 'sl-bold';
  src: url('../fonts/sl-bold.eot');
  src: url('../fonts/sl-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/sl-bold.woff') format('woff'), url('../fonts/sl-bold.ttf') format('truetype'), url('../fonts/sl-bold.svg#RockwellStd') format('svg');
}
@font-face {
  font-family: 'sl-semibold';
  src: url('../fonts/sl-semibold.eot');
  src: url('../fonts/sl-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/sl-semibold.woff') format('woff'), url('../fonts/sl-semibold.ttf') format('truetype'), url('../fonts/sl-semibold.svg#RockwellStd') format('svg');
}
@font-face {
  font-family: 'sl-lt';
  src: url('../fonts/sl-lt.eot');
  src: url('../fonts/sl-lt.eot?#iefix') format('embedded-opentype'), url('../fonts/sl-lt.woff') format('woff'), url('../fonts/sl-lt.ttf') format('truetype'), url('../fonts/sl-lt.svg#RockwellStd') format('svg');
}
@font-face {
  font-family: 'sl-light';
  src: url('../fonts/sl-light.eot');
  src: url('../fonts/sl-light.eot?#iefix') format('embedded-opentype'), url('../fonts/sl-light.woff') format('woff'), url('../fonts/sl-light.ttf') format('truetype'), url('../fonts/sl-light.svg#RockwellStd') format('svg');
}
/* font smoothing for safari */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  -webkit-font-smoothing: antialiased;
}
/* font smoothing for safari */
.btn:focus:hover,
.btn:active:focus:hover,
.btn.active:focus:hover,
.btn.focus:hover,
.btn.focus:active:hover,
.btn.active.focus:hover {
  outline: none !important;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:focus:hover:hover,
.btn:active:focus:hover:hover,
.btn.active:focus:hover:hover,
.btn.focus:hover:hover,
.btn.focus:active:hover:hover,
.btn.active.focus:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:focus:focus,
.btn:active:focus:focus,
.btn.active:focus:focus,
.btn.focus:focus,
.btn.focus:active:focus,
.btn.active.focus:focus {
  outline: none;
  text-decoration: none !important;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:focus {
  outline: none;
  text-decoration: none !important;
}
a:visited {
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.fa.fa-angle-double-down {
  margin-left: 5px;
}
.effect {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.effect:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sl {
  color: #333;
}
.sl-grey {
  color: #676a6c;
}
.sl-hover {
  color: #0092bd;
}
.bg-sl-hover {
  background: #0092bd;
}
.nopadding {
  padding: 0 !important;
}
body {
  font-family: 'sl';
  background: #f9f9f9;
  /* background: url(../img/bg.png) no-repeat fixed;
	background-size: 100%;*/
}
/* header */
.navbar-collapse.collapse,
.navbar-header {
  padding: 15px 0 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: none !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: none !important;
}
.nav.navbar-nav .fa.fa-plus,
.nav.navbar-nav .fa.fa-bell-o {
  font-size: 20px !important;
  color: #0092bd;
  position: relative;
  top: 3px;
  margin-right: 4px;
}
.navbar-header {
  width: 220px;
}
.navbar-brand {
  margin: 0 !important;
  padding: 0;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
}
.navbar-nav {
  float: right !important;
}
.navbar-nav:last-child {
  margin-right: 5px;
}
.navbar-nav li a {
  color: #333 !important;
}
.navbar-nav li a:hover {
  color: #0092bd !important;
}
.navbar-nav .pict {
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 99px;
}
.navbar-nav .pict img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.navbar-default {
  /* background: #4bb5ef !important; */
  border: 0;
  height: 80px;
  margin: 0;
  z-index: 9999 !important;
  border-bottom: 0.1px solid #4bb5ef;
  box-shadow: 0 0 2px 0 #4bb5ef;
}
/* .heading {
	background: #4bb5ef;
	height: 60px;
	margin-top: 80px;
	
	width: 100%;
	
	.collapse.navbar-collapse {
		padding: 0 !important;
		
		.nav.navbar-nav {
			float: left !important;
			height: 100%;
			
			button {
				span {
					color: #fff;
					font-size: 30px;
					.effect;
				}
				
				&:hover span {
					.effect;
					.sl-hover !important;
				}
			}
		}
		.navbar-toggle {
			margin-top: 4px !important;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 0 !important;
			margin-left: -10px;
		}
	}
	
	.search {
		display: inline-block;
		height: 60px;
		line-height: 55px;
		padding: 0 10px;
		
		input[type="text"] {
			border: 0;
			border-radius: 3px 0 0 3px;
			width: 100px;
			.effect;
			background: #f9f9f9;
			float: left;
			height: 30px;
			.sl-hover;
			font-size: 12px;
			box-shadow: 2px 0 5px #ccc inset;
			
			&:focus {
				width: 200px;
				.effect;
			}
		}
		button {
			box-shadow: 0 0 3px #ccc inset;
			float: left;
			border: 0;
			border-radius: 0 3px 3px 0;
			height: 30px;
			background: #f9f9f9;
			margin-left: -2px;
			
			i.fa {
				.sl-hover;
			}
		}
	}
} */
/* sidebar */
.nav-pills > li > a {
  border-radius: 0;
}
.nav-stacked > li + li {
  margin: 0;
}
.sidebar {
  position: relative;
  z-index: 1;
}
.sidebar .compact {
  float: left;
  width: 100%;
  background: #f8f8f8;
  padding-left: 10px;
}
.sidebar .compact .navbar-toggle {
  margin: 0;
  border-radius: 0;
  color: #4bb5ef;
  float: left;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: -7px !important;
  width: 250px;
  background: #f8f8f8;
  border-bottom: 4px solid #f1f1f1;
}
.sidebar ul li a {
  padding: 15px 0 15px 15px;
  color: #333;
  font-size: 16px;
  display: block;
  border-right: 7px solid #f1f1f1;
}
.sidebar ul li a i.fa {
  font-size: 24px;
}
.sidebar ul li a:hover {
  color: #0092bd;
  border-right: 7px solid #0092bd;
  background: #fff;
}
.sidebar ul .current a {
  color: #0092bd;
  background: #fff;
  border-right: 7px solid #0092bd;
}
.green {
  background: #388e3c;
}
.teal {
  background: #009688;
}
.blue {
  background: #00bcd4;
}
.red {
  background: #e53935;
}
.purple {
  background: #7b1fa2;
}
.pink {
  background: #e91e63;
}
/* content */
.main-content {
  /* .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		padding: 0;
	} */
  float: right;
  background: #fff;
  min-height: 800px;
  border-left: 7px solid #f1f1f1;
  padding: 40px;
}
.main-content .box-panel.no-min-height .body-panel {
  height: inherit !important;
}
.main-content .box-panel {
  margin-bottom: 30px;
}
.main-content .box-panel .col-md-2.only-donut {
  width: 20% !important;
  margin-top: 30px;
  text-align: center;
}
.main-content .box-panel .col-md-2.only-donut .knob.second.dial {
  font-family: 'sl' !important;
  color: #676a6c !important;
}
.main-content .box-panel .col-md-2.only-donut h5 {
  color: #676a6c !important;
  margin: -30px 0 0;
  font-size: 18px;
  font-family: 'sl-semibold';
}
.main-content .box-panel .col-md-2.only-donut p {
  color: #676a6c !important;
  font-size: 14px;
  font-family: 'sl-semibold';
}
.main-content .box-panel .head-panel {
  padding: 8px;
  border: 1px solid transparent;
  width: 100%;
  float: left;
  border-radius: 4px 4px 0 0;
}
.main-content .box-panel .head-panel h2 {
  margin: 0;
  font-family: 'sl-semibold';
  padding: 0;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
}
.main-content .box-panel .head-panel i.fa {
  float: right;
  font-size: 20px;
  color: #fff;
}
.main-content .box-panel .body-panel {
  width: 100%;
  float: left;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  height: 422px;
  border-radius: 0 0 4px 4px;
}
.main-content .box-panel .body-panel .bottom-devider {
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.main-content .box-panel .body-panel .bottom-devider:last-child {
  border: 0;
}
.main-content .box-panel .body-panel .bottom-devider:first-child h3 {
  margin: 0 !important;
}
.main-content .box-panel .body-panel .icon-notice {
  float: left;
  font-size: 16px;
  margin-right: 10px;
}
.main-content .box-panel .body-panel .for-notice {
  margin-left: 25px;
}
.main-content .box-panel .body-panel .feed-update {
  font-size: 10px;
  color: #b2b2b2;
  text-align: right;
}
.main-content .box-panel .body-panel .feed-update span {
  display: inline-block;
  line-height: 28px;
}
.main-content .box-panel .body-panel .feed-update .just-left {
  float: left;
  color: #0092bd;
}
.main-content .box-panel .body-panel .feed-update .just-left i.fa {
  margin-right: 3px;
}
.main-content .box-panel .body-panel .feed-update .just-right {
  text-align: right;
  text-transform: capitalize;
}
.main-content .box-panel .body-panel .feed-update .pict-auhtor {
  float: left;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 20px;
  border-radius: 99px;
  margin-right: 5px;
  margin-top: 5px;
}
.main-content .box-panel .body-panel .feed-update .pict-auhtor img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.main-content .box-panel .body-panel a {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: block;
  padding: 3px;
  float: left;
  cursor: pointer;
  width: 100%;
}
.main-content .box-panel .body-panel a:hover {
  -webkit-transition: all 0.5s ease-out;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.main-content .box-panel .body-panel a:hover {
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.main-content .box-panel .body-panel a:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.main-content .box-panel .body-panel h3 {
  margin: 5px 0 0;
  padding: 0 0 2px;
  font-size: 14px;
  color: #757575;
}
.main-content .box-panel .body-panel p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #757575;
  line-height: 13px;
}
.main-content .box-panel .body-panel .feed-icon {
  color: #0092bd;
  position: absolute;
  top: 2px;
  right: 5px;
}
.main-content .box-panel .body-panel .feed-icon i.fa {
  margin-right: 3px;
}
.space-bottom {
  margin-bottom: 80px;
}
.another-space-top {
  padding-top: 40px;
}
.another-space-bottom {
  padding-bottom: 80px;
}
.question img {
  width: auto !important;
  height: auto !important;
  max-width: 75%;
}
.dataTables_length {
  padding: 20px 0 10px;
}
.dataTables_filter {
  padding: 20px 0 10px;
}
table.table .progress {
  margin: 0;
}
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after {
  top: 10px !important;
}
.footer {
  background: #263238;
  color: #fff;
  font-family: 'sl-light';
  padding: 8px 30px;
  width: 100%;
  float: left;
  display: block;
}
.footer p {
  display: inline-block;
  float: right;
  margin: 0;
  font-size: 10px;
}
.footer p img {
  width: 65px;
  height: 15px;
  margin: 0 3px;
}
@media (max-width: 767px) {
  .main-content .box-panel .col-md-2.only-donut {
    width: 50% !important;
    float: left;
  }
  .main-content .box-panel .body-panel {
    margin-bottom: 50px !important;
  }
}
