.DS_Store

#ignore this configuration if not working add this "git rm -r  --cached ." "git add ." "git commit -m 'fixed ignore'"

mbs/*
e4/.htaccess
e4/application/config/database.php
e4/pmin/*
pmin/*
awstats-icon
awstatsicons
icon/*
info.php
pmin/*
stats/*

mbs/web/wp-config.php
e4/application/cache/*
!e4/application/cache/index.html
!e4/application/cache/.htaccess

e4/application/logs/*
!e4/application/logs/index.html
!e4/application/logs/.htaccess

e4/user_guide_src/build/*
e4/user_guide_src/cilexer/build/*
e4/user_guide_src/cilexer/dist/*
e4/user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
