.table-custom td {
  font-size: 11px;
  padding: 5px !important;
  text-align: center;
}
.table-custom .warning {
  font-weight: bold;
}
.table-custom-head .info {
  font-weight: bold;
}
.tab-res-lg {
  width: auto;
  overflow-x: scroll !important;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.m-left {
  margin-left: 20px !important;
  margin-bottom: 20px !important;
}
.sidebar-mini {
  background-color: #2196f3 !important;
}
button.btn {
  font-size: 12px;
  letter-spacing: 0.5px;
}
.custom-form .form-horizontal .control-label {
  line-height: 17px;
  padding-top: 4px !important;
}
.custom-form .form-group {
  margin-bottom: 15px !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.bg-grey {
  background: #f9f9f9;
  border-radius: 10px;
}
.box-margin {
  padding: 7px !important;
  margin: 3px;
}
.small-margin {
  margin: 15px 0 10px 10px !important;
}
.box-margin-ur {
  padding: 7px !important;
}
.circle-perfect {
  border-radius: 99px;
  line-height: 0 !important;
  padding: 0 !important;
  height: 30px;
  width: 30px;
}
.circle-perfect .fa.fa-trash-o {
  font-size: 18px;
  position: relative;
  top: 4px;
}
.circle-perfect .fa.fa-cogs {
  font-size: 16px;
  position: relative;
  top: 5px;
  left: -1px;
}
.navbar-brand.navbar-minimize {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-brand.navbar-minimize:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-brand.navbar-minimize:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #2196f3 !important;
}
.navbar-brand.navbar-minimize:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.top-head {
  background: transparent;
}
.navbar-header h3 {
  margin-left: -20px;
  margin-top: 22px;
}
.modal-backdrop {
  display: none;
}
.modal-dialog {
  margin-top: 10%;
}
.clr {
  clear: both;
}
.bg-blue {
  background: url(../img/bg-blue.png) repeat;
}
.f-left {
  float: left !important;
}
.f-right {
  float: right !important;
}
.t-left {
  text-align: left !important;
}
.t-right {
  text-align: right !important;
}
.t-center {
  text-align: center;
}
.nopadding {
  padding: 0 !important;
}
.effect {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.effect:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.top-head {
  padding: 20px 0 0;
}
.desc-content {
  text-align: center;
  padding: 3% 0 20px;
}
.desc-content p {
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.grid-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 0 40px;
}
.grid-box P {
  margin: 0 0 20px;
  font-family: 'Montserrat', sans-serif;
}
.grid-box input[type="text"] {
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #bfbfbf;
  text-align: center;
  border: 0;
}
.grid-box input[type="password"] {
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #bfbfbf;
  text-align: center;
  border: 0;
}
.grid-box .btn.btn-blue {
  background: #438bcb;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 0;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
}
.grid-box .btn.btn-blue:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.grid-box .btn.btn-blue:hover {
  background: #5ea0db;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.grid-box .btn.btn-blue:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks {
  background: #fff;
  text-align: center;
  margin: 0 15px 30px;
  padding: 0;
  width: 255px;
  border-radius: 10px;
  min-height: 280px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside {
  padding: 20px 10px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside h3 {
  color: #aeaeae;
  font-size: 14px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: 'Montserrat', sans-serif;
}
.picks .inside h3:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside:hover h3 {
  color: #000000;
  font-size: 14px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks .inside:hover h3:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover a {
  display: inline-block;
  background: #438bcb;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 0;
  color: #fff;
  padding: 10px 30px 8px;
  margin: 10px 0;
  font-size: 13px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
.picks:hover a:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover a:hover {
  background: #5ea0db;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks:hover a:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks a {
  background: #438bcb;
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 0;
  color: #fff;
  padding: 10px 30px 8px;
  margin: 10px 0;
  font-size: 13px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
.picks a:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks a:hover {
  background: #5ea0db;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.picks a:hover:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.footer-black {
  background: url(../img/bg-black.png) repeat;
  height: 71px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: block;
}
.footer-black p {
  color: #fff;
  margin-top: 27px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.top-space {
  margin-top: 30px !important;
  text-align: center;
}
.both-space {
  padding: 25px !important;
}
.t-center {
  text-align: center;
}
.btn,
.navbar .navbar-nav > li > a.btn {
  margin: 3px 0;
  padding: 5px;
}
.date-input {
  float: right;
  width: 75%;
}
.date-input-big {
  float: right;
  width: 89%;
}
.card label {
  font-size: 13px !important;
  color: #66615b;
  line-height: 35px;
}
.icn {
  float: left;
  font-size: 18px;
  margin-top: 6px;
}
.footer {
  z-index: -1;
}
.paginate_button.next,
.paginate_button.previous {
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
}
#manus-grid_length select {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}
#manus-grid_length > label,
#manus-grid_filter > label {
  color: #000000;
}
#manus-grid_filter input {
  height: 30px;
  margin-left: 10px;
}
.dataTables_info {
  margin-top: 40px;
}
.dataTables_info,
.dataTables_paginate.paging_simple_numbers {
  text-align: center;
}
@media (max-width: 480px) {
  .modal-dialog {
    margin-top: 30%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .modal-dialog {
    margin-top: 20%;
  }
}
@media (max-width: 767px) {
  .top-head {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer {
    position: inherit;
  }
}
