@font-face {
  font-family: 'Muli-SemiBold';
  src: url('../fonts/Muli-SemiBold.eot');
  src: url('../fonts/Muli-SemiBold.woff2') format('woff2'),
       url('../fonts/Muli-SemiBold.woff') format('woff'),
       url('../fonts/Muli-SemiBold.ttf') format('truetype'),
       url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg'),
       url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Bold';
  src: url('../fonts/Muli-Bold.eot');
  src: url('../fonts/Muli-Bold.woff2') format('woff2'),
       url('../fonts/Muli-Bold.woff') format('woff'),
       url('../fonts/Muli-Bold.ttf') format('truetype'),
       url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg'),
       url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.eot');
  src: url('../fonts/Muli.woff2') format('woff2'),
       url('../fonts/Muli.woff') format('woff'),
       url('../fonts/Muli.ttf') format('truetype'),
       url('../fonts/Muli.svg#Muli') format('svg'),
       url('../fonts/Muli.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'Muli';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli-Bold';
}

/* urgent css kklhp2 */
.sidebar, .main-panel {
	overflow-x: hidden;
}

.table-custom td {
	font-size: 11px;
	padding: 5px !important;
	text-align: center;
}
.input-group-addon + .form-control {
    padding-left: 6px !important;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	line-height: 19px !important;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.table-custom .warning {
	font-family: "Muli-Bold";
}
tr td.success {
	font-family: "Muli-Bold";
	font-size: 12px;
}
.sidebar .sidebar-wrapper {
	box-shadow: none !important;
}
.table-custom-head .info {
	font-weight: bold;
}

.tab-res-lg {
	width: auto;
	overflow-x: scroll !important;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.m-left {
	margin-left: 20px !important;
	margin-bottom: 20px !important;
}

.sidebar-mini {
	background-color: #f4f3ef !important;
}

button.btn {
	font-size: 12px;
	letter-spacing: 0.5px;
}

.custom-form .form-horizontal .control-label {
	line-height: 20px;
	padding-top: 4px !important;
}

.modal-backdrop {
	display: none;
}

.modal-dialog {
  /* padding-top: 15%; */
}

#kertas-kerja textarea.form-control {
    height: 30px;
    max-width: 100%;
    padding: 4px;
    width: 300px;
    resize: vertical;
}
button.tambah {
    background: #7ac29a none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: block;
    padding: 4px 3px 5px;
    width: 100%;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
button.tambah:hover {
    background: #54b07d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
button.tambah {
    background: #7ac29a none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: block;
    padding: 4px 3px 4px;
	height: 25px;
    width: 100%;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
button.tambah:hover {
    background: #54b07d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
button.ngurang {
    background: #eb5e28 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: block;
    padding: 4px 3px 4px;
	height: 25px;
    width: 100%;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.no-temuan > button.ngurang:hover {
    background: #c84513;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.select2-container--default .select2-selection--single {
	background-color: #f3f2ee !important;
	border: 1px solid #e8e7e3 !important;
}
.select-simple {
	width: 150px;
}



.modal-form .form-group {
	margin-bottom: 0;
}

.modal-title {
	margin: 0;
	line-height: 10px;
	text-align: center;
}

.modal.modal-wide .modal-dialog {
	width: 90%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}


.custom-form .form-group {
	margin-bottom: 7px !important;
}

.input-group {
	margin-bottom: 0px;
}

.nopadding-right {
	padding-right: 0 !important;
}

.bg-grey {
	background: #f9f9f9;
	border-radius: 10px;
}

.box-margin {
	padding: 7px !important;
	margin: 3px;
}

.small-margin {
	margin: 15px 0 10px 10px !important;
}

.box-margin-ur {
	padding: 7px !important;
}

.circle-perfect {
	border-radius: 99px;
	line-height: 0 !important;
	padding: 0 !important;
	height: 30px;
	width: 30px;
}

.circle-perfect .fa.fa-trash-o {
	font-size: 18px;
	position: relative;
	top: 4px;
}

.circle-perfect .fa.fa-cogs {
	font-size: 16px;
	position: relative;
	top: 5px;
	left: -1px;
}

.navbar {
	z-index: 2;
}

.navbar-brand.navbar-minimize {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.navbar-brand.navbar-minimize:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.navbar-brand.navbar-minimize:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	color: #2196f3 !important;
}

.navbar-brand.navbar-minimize:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.top-head {
	background: transparent;
}

.navbar-header h4 {
	margin-left: -20px;
	margin-top: 25px;
}

.modal-backdrop {
	display: none;
}

.clr {
	clear: both;
}

.bg-blue {
	background: url(../img/bg-blue.png) repeat;
}

.f-left {
	float: left !important;
}

.f-right {
	float: right !important;
}

.t-left {
	text-align: left !important;
}

.t-right {
	text-align: right !important;
}

.t-center {
	text-align: center;
}

.nopadding {
	padding: 0 !important;
}

.effect {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.effect:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.top-head {
	padding: 20px 0 0;
}

.desc-content {
	text-align: center;
	padding: 3% 0 20px;
}

.desc-content p {
	color: #fff;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.grid-box {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	text-align: center;
	margin: 0 40px;
}

.grid-box P {
	margin: 0 0 20px;
	font-family: 'Montserrat', sans-serif;
}

.grid-box input[type="text"] {
	background-color: #eeeeee;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #bfbfbf;
	text-align: center;
	border: 0;
}

.grid-box input[type="password"] {
	background-color: #eeeeee;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #bfbfbf;
	text-align: center;
	border: 0;
}

.grid-box .btn.btn-blue {
	background: #438bcb;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border: 0;
	border-radius: 4px;
	width: 100%;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: 600;
}

.grid-box .btn.btn-blue:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.grid-box .btn.btn-blue:hover {
	background: #5ea0db;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.grid-box .btn.btn-blue:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks {
	background: #fff;
	text-align: center;
	margin: 0 15px 30px;
	padding: 0;
	width: 255px;
	border-radius: 10px;
	min-height: 280px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside {
	padding: 20px 10px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside h3 {
	color: #aeaeae;
	font-size: 14px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	font-family: 'Montserrat', sans-serif;
}

.picks .inside h3:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside:hover h3 {
	color: #000000;
	font-size: 14px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks .inside:hover h3:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover a {
	display: inline-block;
	background: #438bcb;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border: 0;
	color: #fff;
	padding: 10px 30px 8px;
	margin: 10px 0;
	font-size: 13px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

.picks:hover a:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover a:hover {
	background: #5ea0db;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks:hover a:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks a {
	background: #438bcb;
	display: none;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border: 0;
	color: #fff;
	padding: 10px 30px 8px;
	margin: 10px 0;
	font-size: 13px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

.picks a:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks a:hover {
	background: #5ea0db;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.picks a:hover:hover {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.footer-black {
	background: url(../img/bg-black.png) repeat;
	height: 71px;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	display: block;
}

.footer-black p {
	color: #fff;
	margin-top: 27px;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.top-space {
	margin-top: 30px !important;
	text-align: center;
}

.both-space {
	padding: 25px !important;
}

.t-center {
	text-align: center;
}

.btn, .navbar .navbar-nav>li>a.btn {
	margin: 3px 0;
	padding: 5px;
}

.date-input {
	float: right;
	width: 75%;
}

.date-input-big {
	float: right;
	width: 89%;
}

.card {
	z-index: 0;
}
.card label {
	font-size: 13px !important;
	line-height: 35px;
	color: #66615b;
}

.icn {
	float: left;
	font-size: 18px;
	margin-top: 6px;
}

.icn .fa.fa-calendar {
	color: #9a9a9a;
}

tbody td {
	padding: 3px 8px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour::after,
	.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour::before,
	.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour {
	content: none !important;
}

.footer {
	z-index: -1;
}

.footer .footer-text {
	display: block;
	margin: 0;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 0;
}

.footer .right-img-footer {
	width: 40px;
	position: relative;
	top: -5px;
}

.paginate_button.next, .paginate_button.previous {
	display: inline-block;
	margin: 5px 10px;
	cursor: pointer;
	background-color: #68B3C8;
    color: #fff;
    padding: 2px 15px 3px;
    border-radius: 20px;
	outline: none;
	width: inherit !important;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	font-family: 'Muli';
}
a.paginate_button:hover, .paginate_button.next:hover, .paginate_button.previous:hover, .ellipsis:hover {
	background-color: #006c8a;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
a.paginate_button.current {
	font-family: 'Muli-SemiBold';
	background-color: #006c8a;
	text-shadow: 0 0 3px #fff;
}
.ellipsis {
	letter-spacing: 1px;
    font-size: 18px;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}
a.paginate_button, .ellipsis {
    padding: 3px;
    margin: 0 3px;
    background: #68B3C8;
	cursor: pointer;
    border-radius: 99px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 22px;
    display: inline-block;
	font-family: 'Muli';
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
div.dataTables_info {
	padding-top: 20px !important;
	margin-bottom: 5px;
}
.scrolling-table {
	overflow-y: scroll;
	height: 500px;
}
.lead-table th{
	font-size: 13px !important;
	font-family: 'Muli-Bold';
}
/* sample freeze pan like Excel
#header-row { position:fixed; top:0; left:0; } */

#kode_rekomendasi th, #kode_sebab th, #tlhp_log_history_table th{
	font-size: 13px;
	font-family: 'Muli-Bold';
}

#manus-grid_length select, div.dataTables_length select  {
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	width: 50px !important;
	background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 13px;
	padding: 0 5px;
}

#manus-grid_length>label, #manus-grid_filter>label, div.dataTables_length label, div.dataTables_filter label {
	color: #9A9A9A;
}

#manus-grid_filter input, #kode_rekomendasi_filter input, #kode_sebab_filter input, div.dataTables_filter input {
	height: 30px;
	margin-left: 10px;
	background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 13px;
	padding: 0 5px;
}
#kertas-kerja select{
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#kertas-kerja input {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.t-grid {
	margin-top: 15px;
}

.dataTables_info, .dataTables_paginate.paging_simple_numbers {
	text-align: center;
}

.table.table-striped.t-center.table-custom-head select {
	height: 30px;
}

.form-control {
	padding: 3px 3px;
	height: 30px;
}

.clr, #manus-grid {
	clear: both;
}
div#manus-grid_length, #tlhp_log_history_table_length {
    float: left;
    width: 200px;
	margin-bottom: 10px;
}
div#manus-grid_filter, #tlhp_log_history_table_filter {
    float: right;
    width: 230px;
	margin-bottom: 10px;
}
.min-top-margin {
	margin: -12px !important;
}
.btn-margin {
	margin: 10px 3px !important;
}

@media (min-width: 768px){
	.modal-dialog {
		margin: 100px auto 100px 37%;
	}
}
#daftarlap_table th {
    font-family: "Muli-SemiBold";
    font-size: 13px;
}
#kode_rekomendasi_wrapper div.dataTables_filter, #kode_sebab_wrapper div.dataTables_filter {
    text-align: left;
}
#kode_sebab_wrapper div.dataTables_info, #kode_rekomendasi_wrapper div.dataTables_info{
	margin-bottom: 35px;
}
#kode_temuan_wrapper #kode_temuan_paginate {
	margin-bottom: 20px;
}
#kode_temuan thead .sorting::after, #kode_temuan thead .sorting_asc::after, #kode_temuan thead .sorting_desc::after {
	top: 26px !important;
}
#manus-grid th {
	font-family: 'Muli-SemiBold';
	font-size: 14px;
	text-align: left;
}
#kode_rekomendasi th, #kode_temuan th, #kode_sebab th, #tlhp_log_history_table th {
	text-align: left;
	font-family: 'Muli-SemiBold';
	font-size: 14px;
}
#kode_rekomendasi thead .sorting::after, #kode_rekomendasi thead .sorting_asc::after, #kode_rekomendasi thead .sorting_desc::after {
	top: 26px !important;
}
#kode_sebab thead .sorting::after, #kode_sebab thead .sorting_asc::after, #kode_sebab thead .sorting_desc::after {
	top: 34px !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
	top: 16px !important;
}
.info td:first-child{
	padding-right: 30px; 
}
.btn, .navbar .navbar-nav > li > a.btn {
	padding: 5px 12px 7px;
}
.add-temuan, .add-rekomen {
	background-color: #7ac29a;
	color: #fff;
	border: 0;
	padding: 2px 6px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.add-temuan:hover i.fa, .add-rekomen:hover i.fa, .batal:hover i.fa{
	text-shadow: 0 0 10px rgba(0,0,0,0.9);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.add-temuan:hover, .add-rekomen:hover {
	background-color: #54b07d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.batal {
	background-color: #f3bb45;
	color: #fff;
	border: 0;
	padding: 1px 6px 3px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.batal:hover {
	background-color: #f0a810;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#kertas-kerja th{
	font-size: 12px;
	text-align: center;
	border: 1px solid #eee;
	font-family: "Muli-Bold";
}

.last-one-img {
	margin: 50px 0 0;
}

#header {
	position: relative;
	margin-bottom: 15px;
	font-family: "Muli-SemiBold" !important;
}
.print-this {
	position: absolute;
	right: 15px;
	top: 0;
	display: inline-block;
}

.t-print{ 
	border: 1px solid lightblue;
	border-spacing: 0;
	margin-bottom: 30px;
}
.t-print th{
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px !important;
	background-color: lightblue;
	line-height: 25px;
}
.t-print tbody td{
	line-height: 25px;
	padding: 4px 10px !important;
	font-size: 13px !important;
	border: 1px solid lightblue;
	
}