@font-face {
	font-family:'helveticaneuebold';
	src: url('../fonts/helveticaneuebold.eot');
	src: url('../fonts/helveticaneuebold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuebold.woff') format('woff'),
		url('../fonts/helveticaneuebold.ttf') format('truetype'),
		url('../fonts/helveticaneuebold.svg#helveticaneuebold') format('svg');
		letter-spacing: 0.4 !important;
}
@font-face {
	font-family:'sanpro';
	src: url('../fonts/sanpro.eot');
	src: url('../fonts/sanpro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/sanpro.woff') format('woff'),
		url('../fonts/sanpro.ttf') format('truetype'),
		url('../fonts/sanpro.svg#sanpro') format('svg');
}
@font-face {
	font-family:'helveticaneue';
	src: url('../fonts/helveticaneue.eot');
	src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneue.woff') format('woff'),
		url('../fonts/helveticaneue.ttf') format('truetype'),
		url('../fonts/helveticaneue.svg#helveticaneue') format('svg');
}
/* font smoothing for safari */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  -webkit-font-smoothing: antialiased;
}
/* font smoothing for safari */
btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus,
.btn:hover {
	-webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  outline: none;
  outline-offset: 0;
}
.btn {
	-webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover {
  text-decoration: none;
  color: #d77b31 !important;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:focus {
  outline: none;
  text-decoration: none !important;
}
a:visited {
  text-decoration: none;
}
body {
  font-family:'sanpro';
  background: url(../img/bg.png) no-repeat fixed;
  background-size: 100%;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
}

.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 30px;
}

/* Footer */

footer{
   background-color:#2c3742;
   box-shadow:inset 0px 0px 3px #111;
   color:#fff;
   font-size:14px;
   line-height:25px;
   padding:10px 0px 10px 0px;
   bottom: 0px;
}

footer a{
   color:#eee;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: #000 1px solid;
	border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   margin:15px 0px;
}

/* Logo & Navigation */

.header{
   padding: 10px;
   background-color: #fff;
}

.header .logo h1{
   font-size:30px;
   margin:0px;
   padding:10px 0px;
}

.header .logo h1 a{
   color:#000;
   font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
   color:#000;
   text-decoration:none;
   border:0px;
}
.header .logo h1 span{
   color:#cc7177;
}

.header .form{
   margin-top:10px;
   width:100%;
   max-width:400px;
   margin:10px auto;
}

.header .navbar *{
   box-shadow:none !important;
}

.header .navbar .label{
   font-size:12px;
   padding:4px 8px;
   margin:0px 2px;
   border-radius:15px !important;
}

.header .navbar{
   background:none !important;
   border:0px !important;
}

.header .navbar i{
   margin-right:3px;
}

.header .navbar .nav > li > a{
	font-family:'sanpro';
   color:#000 !important;
   font-size:16px !important;
   border-bottom:0px !important;
   margin-top:0px !important;
}

.header .navbar-nav>.open>a,.header  .navbar-nav>.open>a:hover,.header  .navbar-nav>.open>a:focus {
   background:none !important;
}

.header .navbar-collapse{
   border:0px !important;
}

.header .navbar-header{
   width:43px;
   margin:0 auto;
}

.header .navbar-header button{
   color:#fff !important;
   padding:5px 10px;
}

.header .navbar-toggle{
   background-color: #1dc1da !important;
   border:1px solid #0fa6bc !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
   background-color: #0fa6bc !important;
   border:1px solid #0fa6bc !important;
}

.header .dropdown-menu{
   border-radius:6px !important;
   background:#fff !important;
}

.header .dropdown-menu li{
   font-size:13px;
   padding:6px 15px;
   border-bottom:1px dashed #f3f3f3;
}

.header .dropdown-menu li a {
   color:#888;
   padding-left:0px !important;
}

.header .dropdown-menu li:last-child{
   border:0px;
}

.header .dropdown-menu li a:hover{
   background:none !important;
   color:#666 !important;
   border:0px !important;
}

.header .dropdown-big{
   min-width:300px;
}

.header .dropdown-big .dropdown-head{
   padding:7px 15px;
   background:#fcfcfc;
   border-bottom:1px solid #ddd;
   margin-top:-5px;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}

.header .dropdown-big .dropdown-title{
   font-size:13px;
   font-weight:bold;
   color:#999;
}

.header .dropdown-big .dropdown-body{
   background:#fff;
}

.header .dropdown-big .dropdown-foot{
   padding:7px 15px;
   background:#fcfcfc;
   border-top:1px solid #ddd;
   margin-bottom:-5px;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   font-size:12px;
}

.header .dropdown-big .dropdown-foot a{
   color:#888;
}

.header .dropdown-big .dropdown-foot a:hover{
   color:#555;
   border-bottom:0px;
}

.header .navbar-nav .caret{
   border-top-color:#000000 !important;
   border-bottom-color:#000000 !important;
}

.header .navbar-nav>.open>a .caret,.header  .navbar-nav>.open>a:hover .caret,.header  .navbar-nav>.open>a:focus .caret {
   border-top-color: #000000 !important;
   border-bottom-color: #000000 !important;
}

/* Sidebar navigation */

.content-box, .content-box-large {
   margin-bottom:30px;
   background:#fff;
   border-radius:4px;
   padding:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:2px solid #eee;
   border-bottom:2px solid #eee; 
}

.content-box-large {
  padding: 20px;
}

.box-with-header {
  border-top: none;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

.content-box-header {
  min-height: 40px;
   font-size: 18px;
   background:#f5f5f5;
   border-top-left-radius:4px;
   border-top-right-radius:4px;
   padding:5px 0;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:2px solid #eee;
}

.content-box-header:after {
  clear:both;
}

.sidebar ul.nav, .sidebar ul.nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sidebar ul.nav ul {
   margin:0px;
   padding:0px;
   display:none;
}

.sidebar .nav li.open ul{
   display:block;
}

.sidebar .nav > li {
	text-align: center;
	margin: 0;
   border-bottom:1px solid #e3e3e3;
}
.sidebar .nav > li i.fa {
	font-size: 30px;
}

.sidebar .nav > li:last-child{
   border-bottom:0px;
   padding-bottom: 45px;
}

.sidebar .nav > li li {
	margin: 0;
}

.sidebar .nav > li li a{
   padding-left:25px;
}

.sidebar .nav > li > a {
<<<<<<< Updated upstream
	font-family:'helveticaneuebold';
	font-size: 13px;
=======
	font-size: 12px;
>>>>>>> Stashed changes
	line-height: 20px;
	padding: 15px 15px;
	color: #999;
	display: block;
   font-weight:bold;
   background:none;
	text-decoration: none;
   border-top:0px;
   font-weight:nor;
}

.sidebar .nav > li > a > i{
   margin-right:5px;
   margin-bottom: 20px;
}

.sidebar .nav > li > ul > li > a {
	font-size: 13px;
	line-height: 20px;
	padding: 8px 10px 8px 40px;
	color: #d77b31;
   background:#fff;
	display: block;
	text-decoration: none;
   border-top:0px;
   font-weight:bold;
}

.sidebar .nav > li > ul > li.active > a{
   background:#fff;
   border-top:0px;
<<<<<<< Updated upstream
   color:#d77b31;
=======
   color:#c9452b;
>>>>>>> Stashed changes
}

.sidebar .nav > li > ul > li > a:hover{
   background:#fff;
<<<<<<< Updated upstream
   color:#d77b31;
=======
   color:#c9452b;
>>>>>>> Stashed changes
   border-bottom:0px;
}

.sidebar .nav li a:hover, .sidebar .nav li.current > a {
	background: #fff;
<<<<<<< Updated upstream
	color: #d77b31;
=======
	color: #c9452b;
>>>>>>> Stashed changes
   border-bottom:0px;
   font-family: 'helveticaneuebold';
   font-size: 13px;
}

.sidebar .nav li.open > a {
   background:#fff;
   color: #d77b31;
   border-bottom:1px dashed #eee;
}

.sidebar .nav a .caret {
	float: right;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
   margin-top: 8px;
	margin-left: 2px;
}

.sidebar .nav a:hover .caret {
	border-top-color: #aaa;
}

.sidebar .nav li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #aaa !important;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.sidebar .nav li.open > a:hover > .caret {
	border-bottom-color: #aaa;
}

.login-bg {
  background: rgba(255, 255, 255, 0);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-color: #eff0f3;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  background-color: #eff0f3;
}

/** Login & Signup **/

.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}


.login-wrapper .box {
  margin: 0 auto;
  padding: 30px 0 30px;
  float: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.login-wrapper .box .content-wrap {
  width: 82%;
  margin: 0 auto;
}
.login-wrapper .box h6 {
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
  font-size: 15px;
  height: 40px;
  margin-bottom: 10px;
  border-color: #b2bfc7;
  padding-left: 12px;
}
.login-wrapper .box input[type="text"]:focus,
.login-wrapper .box input[type="password"]:focus {
  border: 1px solid #28a0e5;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -moz-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -ms-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -o-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  box-shadow: inset 0 1px 2px #dddddd, 0px 0 5px #28a0e5;
}
.login-wrapper .box input[type="password"] {
  margin-bottom: 10px;
}

.login-wrapper .box .action {
  position: relative;
  top: 30px;
  padding: 15px 0px;
}
.login-wrapper .box .signup {
  text-transform: uppercase;
  font-size: 13px;
  padding: 7px 25px;
  border-radius: 5px;
}
.login-wrapper .already {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.login-wrapper .already p {
  display: inline-block;
  color: #222;
}
.login-wrapper .already a {
  color: #222;
  margin-left: 7px;
  border-bottom: 1px solid;
}
.login-wrapper .already a:hover {
  text-decoration: none;
  color: #000;
  border-bottom-color: #000;
}


.login-wrapper .box .social{
  margin: 0 auto;
  width: 90%;
}
.login-wrapper .box .social a.face_login{
  background: #6887c4;
  background: -moz-linear-gradient(top, #6887c4 0%, #4566a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#4566a9));
  background: -webkit-linear-gradient(top, #6887c4 0%,#4566a9 100%);
  background: -o-linear-gradient(top, #6887c4 0%,#4566a9 100%);
  background: -ms-linear-gradient(top, #6887c4 0%,#4566a9 100%); 
  background: linear-gradient(to bottom, #6887c4 0%,#4566a9 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#4566a9',GradientType=0 );
  border: 1px solid #3B4868;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 37px;
    overflow: hidden;
    width: 99%;

    text-decoration: none !important;
}
.login-wrapper .box .social a.face_login:hover {
  background: #6887c4;
  background: -moz-linear-gradient(top, #6887c4 0%, #5773AC 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#5773AC));
  background: -webkit-linear-gradient(top, #6887c4 0%,#5773AC 100%);
  background: -o-linear-gradient(top, #6887c4 0%,#5773AC 100%);
  background: -ms-linear-gradient(top, #6887c4 0%,#5773AC 100%); 
  background: linear-gradient(to bottom, #6887c4 0%,#5773AC 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#5773AC',GradientType=0 );
}
.login-wrapper .box .social a.face_login span.face_icon{
  background-color: #39599F;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 37px;
    text-align: center;
    width: 51px;
}
.login-wrapper .box .social a.face_login span.face_icon img{
  margin-top: 5px;
}
.login-wrapper .box .social a.face_login span.text{
  color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 0 0 25px;
    text-shadow: 1px 1px 0 #39599F;
}
.login-wrapper .box .division{
  display: inline-block;
    margin: 17px 0 23px;
    position: relative;
    text-align: center;
    width: 100%;
}
.login-wrapper .box .division hr{
  border-color: #E2E2E4;
    border-width: 1px;
    margin: 0;
    position: absolute;
    width: 40%;
}
.login-wrapper .box .division hr.left{
  top: 13px;
}
.login-wrapper .box .division hr.right{
  bottom: 6px;
    right: 0;
}
.login-wrapper .box .division span{
  color: #666666;
  font-size: 18px;
}

.panel-heading>.panel-title, .content-box-header .panel-title {
    float: left;
    padding: 10px 15px;
    padding-top: 0px;
	font-family:'helveticaneuebold';
	font-size: 18px;
}

.panel-heading>.panel-title>*, .content-box-header .panel-title>* {
    margin: 0;
}

.panel-heading>.panel-title>span, .content-box-header .panel-title>span {
    font-weight: normal;
}

.panel-heading>.panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading>.panel-options>a, .content-box-header .panel-options>a {
    margin-top: 10px;
}

.panel-body {
  clear:both;
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){

}

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
      background:#0fa6bc;
      border-radius:5px;
   }
   .navbar-toggle {
      margin-right:0px !important;
   }
}

/* Desktop */

@media (max-width: 991px){
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .form{
      margin:10px auto;
   }
   .sidebar, content-box{
      margin-bottom:30px;
      width:100%;
      float:none;
      position:relative;
   }  
   .mainy{
      margin-left: 0px;
   }
   .sidebar-dropdown{
      display:block;
      text-align:center;
      margin:0 auto;
      margin-bottom:10px;
      border-bottom:1px dashed #eee;
      padding-bottom:10px;
   }
   .sidebar-dropdown a, .sidebar-dropdown a:hover{
      color:#fff;
      background:#16cbe6;
      display:block;
      padding:6px 12px;
      border-bottom:0px;
      box-shadow:0px 0px 1px #0fa6bc;
      border-radius:10px;
   }  
}


/* custom stylesheet */
.navbar {
	margin-bottom: 0;
}
.input-searching {
	background: #f5f5f5;
}
.navbar.navbar-inverse {
    float: right;
    width: 40%;
}
.header .navbar .nav > li > a {
	float: right;
    padding: 15px 0;
}
.navbar-right {
    float: right !important;
    width: 100%;
	padding: 0 !important;
}
.dropdown, .nav.navbar-nav {
    width: 100%;
}
.attention-panel {
	float: right;
	position: relative;
	margin-left: 45px;
}
.attention-panel i.fa.fa-plus {
	color: #d77b31;
	font-size: 20px;
	position: relative;
	top: 3px;
}
.attention-panel a {
	color: #000;
	font-family:'sanpro';
}
.attention-panel a:hover {
	text-decoration: none;
}
.attention-panel i.fa {
	font-size: 16px;
}
.attention-panel span{
	font-size: 16px;
	color: #000;
    line-height: 50px;
	margin: 0 5px;
}
.notice {
	color: #fff !important;
	text-align: center;
	font-size: 10px;
	padding: .5px 3.5px 2px;
	min-width: 17px;
	min-height: 15px;
	position: absolute;
	top: 7px;
	left: -5px;
	display: inline-block;
	background: #c9452b;
	border-radius: 99px;
}
.img-author {
	float: right;
	margin-right: 10px;
    height: 50px;
    position: relative;
    width: 50px;
	overflow: hidden;
}
.img-author img {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 50px;
	border-radius: 99px;
}
.panel-black {
	border-color: #394552;
}
.panel-black > .panel-heading {
	background-color: #394552;
    border-color: #394552;
    color: #ffffff;
}
.panel-grey {
	border-color: #394552;
}
.panel-grey > .panel-heading {
	background-color: #7d7d7d;
    border-color: #7d7d7d;
    color: #ffffff;
}
.panel-orange {
	border-color: #394552;
}
.panel-orange > .panel-heading {
	background-color: #d77b31;
    border-color: #d77b31;
    color: #ffffff;
}
.panel-all-green p {
	font-size: 12px;
}
.panel-all-green {
	background: #638e43;
	border-color: #638e43;
	color: #fff;
	font-family:'helveticaneuebold';
}
.panel-all-green h2 {
	font-family:'helveticaneuebold';
	margin-top: 0;
	font-size: 18px;
}
.listing {
	padding: 0;
}
.listing ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.listing li {
	
}
.listing li a{
	padding: 10px 20px;
	font-family:'helveticaneuebold';
	line-height: 30px;
	color: #aaaaaa;
	display: block;
	border-bottom: 1px solid #f2f2f2;
	font-size: 14px;
}
.listing li a:last-child{
	border-bottom: 0;
}
.listing li a:hover{
	text-decoration: none;
}
.listing li a i.fa{
	font-size: 18px;
	float: right;
	line-height: 30px;
}
.for-right {
	text-align: right;
}
.btn.btn-orange {
	background: #d77b31;
	color: #fff;
	font-weight: bold;
}

.activity-listing:last-child{
	border-bottom: 0;
	padding-bottom: 30px;
}
.activity-listing {
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 0;
	text-align: center;
}
.activity-listing .see{
	color: #131313;
	font-size: 16px;
	text-transform: capitalize;
	font-family: 'helveticaneuebold';
}
.left-words {
	text-align: left;
}
.left-words h2 {
	line-height: 30px;
	margin: 0;
	color: #505050;
	font-family: 'helveticaneuebold';
	font-size: 18px;
}
.left-words p {
	font-family: 'helveticaneuebold';
	margin: 0;
	font-size: 12px;
	color: #939393;
}
.right-words {
	text-align: right;
}
.right-words .note {
	margin: 0;
	line-height: 25px;
	font-weight: bold;
}
.right-words p {
	margin: 0;
	color: #939393;
	font-size: 12px;
	font-family:'helveticaneue';
}
.note.black {
	font-family: 'helveticaneue';
	font-size: 13px;
	color: #000;
	line-height: 30px;
}
.note.red {
	font-family: 'helveticaneue';
	line-height: 30px;
	font-size: 13px;
	color: #dd4343;
	font-size: 20px;
}
.note.green {
	line-height: 30px;
	font-family: 'helveticaneue';
	font-weight: bold;
	font-size: 13px;
	color: #71ad49;
	font-size: 20px;
}
.header .container {
    width: 95% !important;
	padding: 0 !important;
}

/* left sidebar */
.col-md-2.left-sidebar {
	width: 13%;
	margin-left: 20px;
}


/* nav sidebar left */
.sidebar.content-box .nav i.fa{
	display: inline-block;
	width: 100%;
}